<html>
    <head>
        <link rel="stylesheet" href="static/font-awesome-6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
  <body>
    <pre class="mermaid">
    {{{awesome_graph:gitgraph}}}
    </pre>
    <script type="module">
      import mermaid from './static/mermaid-11.3.0/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  </body>
</html>
